:root {
    --azul-claro: #5E9EDC;
    --azul-escuro: #324C64;
    --branco: #ffffff;
    --ciano: #5EC6F3;
    --cinza-medio: #9799A6;
    --cinza-claro: #f2f5f7;
    --cinzinha: #CCCCCC;
    --lilas: #AD85BF;
    --rosa: #EC6E5A;
    --preto: #000000;
    --verde-claro: #25D285;
}

body {
    background-color: var(--cinza-claro);
    font-family: 'Open Sans', Arial, sans-serif;
}