.cabecalho__titulo {
    font-size: 2rem;
    font-weight: bold;
}


/* Mobile */

@media screen and (max-width: 768px) {
    .cabecalho__titulo {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }
}