.rodapePatrocinadores__imagens {
    align-items: center;
    display: flex;
    width: 75%;
}


/* Mobile */

@media screen and (max-width: 768px) {
    .rodapePatrocinadores__imagens {
        width: 100%;
    }
}