.menu__link {
    border: 1px solid var(--cinza-medio);
    border-radius: 5px;
    color: var(--cinza-medio);
    padding: 10px;
    text-decoration: none;
    transition: all .25s ease-in-out;
}

.menu__link:hover {
    color: var(--branco);
    background-color: var(--cinza-medio);
}


/* Mobile */

@media screen and (max-width: 768px) {
    .menu__link {
        border: 0;
        border-radius: 0;
        padding: 0;
    }
}