.menu__item {
    margin-left: 10px;
}


/* Mobile */

@media screen and (max-width: 768px) {
    .menu__item {
        border-bottom: 1px solid var(--cinza-medio);
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .menu__item__nossoApp {
        order: -1;
    }
}