.conteudoPrincipal__container {
    margin: 0 auto;
    width: 85%;
}


/* Mobile */

@media screen and (max-width: 768px) {
    .conteudoPrincipal__container {
        text-align: center;
        width: 94%;
    }
}